<div class="space-row">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscár Catálogo">
                        <button class="btn btn-primary text-white" type="button">Buscar</button>
                    </div>                      
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary d-flex ms-auto text-white" data-bs-toggle="modal" data-bs-target="#formulario">Nuevo Registro</button>
                </div>
            </div>
        </div>

 <!-- Modal -->
<div class="modal fade" id="formulario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registro de Beneficiarios de Ayuda</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row g-3"  action="javascript:void(0)">
            <div class="col-md-12">
              <label class="form-label">Dirección</label>
              <input type="text" class="form-control" name="direccion">
            </div>
            <div class="col-md-12">
              <label class="form-label">Nombre</label>
              <input type="text" class="form-control" name="nombre">
            </div>
            <div class="col-md-6">
              <label class="form-label">Edad</label>
              <input type="number" class="form-control" name="edad">
            </div>
            <div class="col-md-6">
              <label class="form-label">Nacionalidad</label>
              <select id="inputState" class="form-select">
                <option *ngFor="let estado of nacionalidades" value="estado.nombre">{{estado.nombre}}</option>
              </select>
            </div>
            <div class="col-12">
              <label class="form-label">Lugar de Nacimiento</label>
              <input type="text" class="form-control" name="lugarNac">
            </div>
            <div class="col-md-6">
              <label class="form-label">Estado Civil</label>
              <select id="inputState" class="form-select">
                <option *ngFor="let estado of estadosCiviles" value="estado.nombre">{{estado.nombre}}</option>
              </select>
            </div>
            <div class="col-md-6">
              <label class="form-label">DPI</label>
              <input type="number" class="form-control" name="dpi">
            </div>
            <div class="col-12">
              <label class="form-label">Teléfono</label>
              <input type="number" class="form-control" name="telefono">
            </div>
            
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary text-white" type="submit" (click)="btnGuardar()">Guardar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
        <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Nacionalidad</th>
                    <th scope="col">Lugar de Naciomiento</th>
                    <th scope="col">DPI</th>
                    <th scope="col">Estado Civil</th>
                    <th scope="col">Telefono</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let persona of conjuntoPersonas">
                    <td>{{persona.direccion}}</td>
                    <td>{{persona.nombre}}</td>
                    <td>{{persona.edad}}</td>
                    <td>{{persona.nacionalidad}}</td>
                    <td>{{persona.lugarNac}}</td>
                    <td>{{persona.estadoCivil}}</td>
                    <td>{{persona.dpi}}</td>
                    <td>{{persona.telefono}}</td>
                  </tr>
                </tbody>
            </table> 
        </div>
    </div>
</div>
