<div id="space-row">

    <div class="page-header">
        <div>
            <h1 class="page-title">Administración de Catalogos</h1>
        </div>
        <!-- <div class="ms-auto pageheader-btn">
            <ol class="breadcrumb">
                <li class="breadcrumb-item ng-star-inserted"><a href="javascript:;">Apps</a></li>
                <li class="breadcrumb-item ng-star-inserted"><a href="javascript:;">E-Mail</a></li>
                <li class="breadcrumb-item active">inbox</li>
            </ol>
        </div> -->
    </div>

    <div class="card overflow-hidden">
        <div class="card-body">
            <section class="row pb-3">
                <div class="col-md-6 col-sm-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Búscar información" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Búscar</button>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 d-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btn btn-primary text-white" type="button">Nuevo Registro</button>
                </div>
            </section>
            <section>
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre del Usuario</th>
                            <th>Fecha Registro</th>
                            <th>Dirección</th>
                            <th>Telefono</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Luis Bautista</td>
                            <td>16/07/2021</td>
                            <td>20 Calle 11-77 Zona 1</td>
                            <td>42422314</td>
                            <td>Activo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Mercedes Alarcón</td>
                            <td>13/03/2022</td>
                            <td>20 Calle 11-77 Zona 1</td>
                            <td>56923151</td>
                            <td>Activo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Jean Carlo Bautista</td>
                            <td>20/05/2011</td>
                            <td>20 Calle 11-77 Zona 1</td>
                            <td>23231425</td>
                            <td>Activo</td>
                            <td></td>
                        </tr>
                    </tbody>

                </table>

            </section>




        </div>
    </div>

</div>
