.counter-icon {
    margin-bottom: 1rem;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 1.43rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50px;
    color: #fff;
}
.counter-icon.dash:before {
    content: "";
    position: absolute;
    width: 7px;
    height: 46px;
    border-bottom-right-radius: 11px;
    border-top-right-radius: 6px;
    top: 10%;
    right: 30%;
    background: rgba(255,255,255,.135);
    transform: rotate(35deg);
}
.counter-icon.dash:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 48px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 3px;
    top: -4%;
    right: 50%;
    background: rgba(255,255,255,.135);
    transform: rotate(35deg);
}