<div id="space-row">
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="card overflow-hidden">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h3 _ngcontent-tfx-c193="" class="mb-2 fw-semibold number-font">1,12,324</h3>
              <p _ngcontent-tfx-c193="" class="text-muted fs-13 mb-0">Daily Visitors</p>
              <p _ngcontent-tfx-c193="" class="text-muted mb-0 mt-2 fs-12">
                <span class="icn-box text-success fw-semibold fs-13 me-1">
                  <i class="bi bi-arrow-up"></i> 42%</span> since last month </p>
            </div>
            <div class="col col-auto top-icn dash">
              <div class="counter-icon bg-primary dash ms-auto box-shadow-primary">
                <i class="bi bi-eye"></i>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card overflow-hidden">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h3 _ngcontent-tfx-c193="" class="mb-2 fw-semibold number-font">1,12,324</h3>
              <p _ngcontent-tfx-c193="" class="text-muted fs-13 mb-0">Daily Visitors</p>
              <p _ngcontent-tfx-c193="" class="text-muted mb-0 mt-2 fs-12">
                <span class="icn-box text-success fw-semibold fs-13 me-1">
                  <i class="bi bi-arrow-up"></i> 42%</span> since last month </p>
            </div>
            <div class="col col-auto top-icn dash">
              <div class="counter-icon bg-secondary dash ms-auto box-shadow-primary">
                <i class="bi bi-eye"></i>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card overflow-hidden">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h3 _ngcontent-tfx-c193="" class="mb-2 fw-semibold number-font">1,12,324</h3>
              <p _ngcontent-tfx-c193="" class="text-muted fs-13 mb-0">Daily Visitors</p>
              <p _ngcontent-tfx-c193="" class="text-muted mb-0 mt-2 fs-12">
                <span class="icn-box text-success fw-semibold fs-13 me-1">
                  <i class="bi bi-arrow-up"></i> 42%</span> since last month </p>
            </div>
            <div class="col col-auto top-icn dash">
              <div class="counter-icon bg-info dash ms-auto box-shadow-primary">
                <i class="bi bi-eye"></i>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card overflow-hidden">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h3 _ngcontent-tfx-c193="" class="mb-2 fw-semibold number-font">1,12,324</h3>
              <p _ngcontent-tfx-c193="" class="text-muted fs-13 mb-0">Daily Visitors</p>
              <p _ngcontent-tfx-c193="" class="text-muted mb-0 mt-2 fs-12">
                <span class="icn-box text-success fw-semibold fs-13 me-1">
                  <i class="bi bi-arrow-up"></i> 42%</span> since last month </p>
            </div>
            <div class="col col-auto top-icn dash">
              <div class="counter-icon bg-danger dash ms-auto box-shadow-primary">
                <i class="bi bi-star"></i>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <br>


  <!-- Elements -->
  <div class="row">
    <div class="col-sm-6">
      <div class="card overflow-hidden">
        <div class="card-header border-bottom">
          <h4 class="card-title fw-semibold">Gastos de Tarjeta de Credito</h4>
          <a href="#" class="ms-auto">View All</a>
        </div>
        <div class="card-body">
          <div class="list-group py-1">
            <a class="border-0">
              <div class="list-group-item border-0">
                <div class="media mt-0 align-items-center">
                  <div class="list-icon">
                    <i class="bi bi-chevron-double-right"></i>
                  </div>
                  <div class="media-body">
                    <div class="d-flex align-items-center">
                      <div class="mt-0">
                        <h5 class="mb-1 fs-13 fw-normal text-dark">To Bel Bcron Bank</h5>
                        <span class="fs-13 fw-semibold ms-1">Savings Section</span>
                      </div>
                      <span class="ms-auto fs-13">
                        <span class="float-end text-dark">-$2,543</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a class="border-0">
              <div class="list-group-item border-0">
                <div class="media mt-0 align-items-center">
                  <div class="list-icon">
                    <i class="bi bi-handbag"></i>
                  </div>
                  <div class="media-body">
                    <div class="d-flex align-items-center">
                      <div class="mt-0">
                        <h5 class="mb-1 fs-13 fw-normal text-dark">Gastos Fijos</h5>
                        <span class="fs-13 fw-semibold ms-1">Servicio telefonico</span>
                      </div>
                      <span class="ms-auto fs-13">
                        <span class="float-end text-dark">-$2,543</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a class="border-0">
              <div class="list-group-item border-0">
                <div class="media mt-0 align-items-center">
                  <div class="list-icon">
                    <i class="bi bi-handbag"></i>
                  </div>
                  <div class="media-body">
                    <div class="d-flex align-items-center">
                      <div class="mt-0">
                        <h5 class="mb-1 fs-13 fw-normal text-dark">Gastos Fijos</h5>
                        <span class="fs-13 fw-semibold ms-1">Servicio telefonico</span>
                      </div>
                      <span class="ms-auto fs-13">
                        <span class="float-end text-dark">-$2,543</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <svg class="bd-placeholder-img rounded-top"  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Example top rounded image: 75x75" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Example top rounded image</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text></svg>
        <div class="card-body">
          <h5 class="card-title">Card with stretched link</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <svg class="bd-placeholder-img rounded-top"  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Example top rounded image: 75x75" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Example top rounded image</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text></svg>
        <div class="card-body">
          <h5 class="card-title">Card with stretched link</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <section>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header border-bottom">
            <h4 class="card-title fw-semibold">Actividades Diarias</h4>
          </div>
          <div class="card-body pb-0">
            <ul class="task-list">
              <li>
                <i class="task-icon bg-primary"></i>
                <p class="fw-semibold mb-1 fs-13">New Products Introduced<span class="text-muted fs-12 ms-2 ms-auto float-end">1:43 pm</span></p>
                <p class="text-muted fs-11">Lorem ipsum dolor sit amet consectetur.<a class="fw-semibold">Product Light Launched</a></p>
              </li>
              <li>
                <i class="task-icon bg-secondary"></i>
                <p class="fw-semibold mb-1 fs-13">Hermoine Replied<span class="text-muted fs-12 ms-2 ms-auto float-end">6:12 am</span></p>
                <p class="text-muted fs-12">Hermoine replied to your post on<a href="javascript:;" class="fw-semibold"> Detailed Blog</a></p>
              </li>
              <li>
                <i class="task-icon bg-info"></i>
                <p class="fw-semibold mb-1 fs-13">Maggice Liked<span class="text-muted fs-12 ms-2 ms-auto float-end">11:22 am</span></p>
                <p class="text-muted fs-12">Hermoine replied to your post on<a href="javascript:;" class="fw-semibold"> Detailed Blog</a></p>
              </li>


            </ul>

          </div>


        </div>
      </div>
    </div>

  </section>
</div>
