<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <div style="display: block;">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">SIRBIE</h5>
      <div class="form-text">Sistema Interno de Registros de Bienes Inmuebles del Estado.</div>
    </div>
    <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
  </div>
  <div class="offcanvas-body">
    <ul class="list-unstyled ps-0">
      <li class="mb-1" *ngFor="let item of menu;">
        <button
          class="btn btn-toggle align-items-center"
          type="button"
          data-bs-toggle="collapse"
          [attr.data-bs-target]="'#indice'+item.idOpcionMenu"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          {{item.nombre}}
        </button>
        <div class="collapse border-list" [id]="'indice'+item.idOpcionMenu">
          <ul class="btn-toggle-nav list-unstyled pb-1 small" *ngFor="let sub of item.opciones">
            <li>
              <a
                class="dark-text"
                *ngIf="!sub.opciones.length"
                [id]="sub.path"
                routerLinkActive="active"
                routerLink="{{ sub.url }}"
              >{{sub.nombre}}</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
