<div class="container-fluid">
  <section class="d-flex align-items-center">
    <span class="material-icons" (click)="toggle()">{{ iconMenu }}</span>
    <div class="d-flex ms-auto">
      <ul class="section-login">
        <li>
          <a (click)="toggleIconDark()">
            <i [class]="iconMode" ></i>
          </a>
        </li>
        <li>
          <a><span>Luis Bautista</span></a>
        </li>
        <li><a>
          <span class="material-icons icon-spin">settings</span>
        </a></li>
      </ul>      
    </div>
  </section>
</div>
