.section-login {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.section-login li {
  float: left;
}

.section-login li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

section .material-icons:hover, .section-login i:hover, .section-login .material-icons:hover{
  color: var(--bs-primary);
  cursor: pointer;
}

.material-icons {
  line-height: unset;
}

.icon-spin {
  -webkit-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}


@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  100% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}