.icon-spin {
  -webkit-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}


@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  100% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dropdown-toggle::after{
  content: none !important;
}

/* .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
} */
.btn.show {
  border-color: transparent;
}
.dropdown-menu {
  -webkit-box-shadow: 0 5px 10px rgb(30 32 37 / 12%);
  box-shadow: 0 5px 10px rgb(30 32 37 / 12%);
  -webkit-animation-name: DropDownSlide;
  animation-name: DropDownSlide;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  z-index: 1000;
  border-radius: 0;
  border-color: none;
  border: none;
}
/*
.dropdown:hover .dropdown-menu {
  display: block;
} */




.navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  height: 69px;
  padding: 0 1.5rem 0 calc(1.5rem / 2);
}

.header-item {
  height: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn-topbar {
  height: 42px;
  width: 42px;
}

.btn-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: calc(1rem + 1.5em + 2px);
  width: calc(1rem + 1.5em + 2px);
  padding: 0;
}


.btn-ghost-secondary {
  border-color: transparent;
  background-color: transparent;
}

.btn-ghost-secondary:focus {
  box-shadow: 53,119,241;
}

.btn-ghost-secondary:active {
  color: #3577f1;
  background: rgba(53, 119, 241, 0.1);
  border-color: transparent;
}

.btn-ghost-secondary:hover {
  color: #3577f1;
  background: rgba(53, 119, 241, 0.1);
  border-color: transparent;
}


.btn-user:active {
  border-color: transparent !important;
}

.navbar-header .user-name-text {
  color: #495057
}
.topbar-user .dropdown-menu {
  top: 6px!important;
}

@media (min-width: 768px) {
  .topbar-user {
      background-color: #f7f8f9
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate(0px, 65px);
    width: -webkit-fill-available;
  }
}
