<section class="banner-principal">
    <div class="title">
        <div class="texto">
            Reserva tu Habitacion.
        </div>
    </div>
</section>
<section class="banner-checkin">
    <div class="container">
        <section>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Email</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Cargo/Puesto</th>
                  <th scope="col">Permisos</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>mercyalarcon.gmail.com</td>
                  <td>Mercy</td>
                  <td>Alarcon</td>
                  <td>Secretaria</td>
                  <td>Todos</td>
                  <td>Activo</td>
                  <td>Sin registro</td>
                </tr>
                <tr>
                  <td>karenbarr.gmail.com</td>
                  <td>Karen</td>
                  <td>Barrera</td>
                  <td>Recepcinista</td>
                  <td>Todos</td>
                  <td>Inactivo</td>
                  <td>Sin registro</td>
                </tr>
                <tr>
                  <td>axelmartinez.gmail.com</td>
                  <td>Axel</td>
                  <td>Martinez</td>
                  <td>Gerente</td>
                  <td>Todos</td>
                  <td>Activo</td>
                  <td>Sin registro</td>
                </tr>
              </tbody>
            </table>
          </section>
    </div>
</section>