.page-header .breadcrumb {
    font-size: 14px;
    padding-left: 0!important;
}
.btn-block {
    display: block;
    width: 100%;
}
.card  {
    box-shadow: 0 4px 16px #0000001a;
}
/*
.breadcrumb-item+.breadcrumb-item:before {
    float: none;
    padding-right: 0.5rem;
    color: #d6dfe7;
    content: var(--bs-breadcrumb-divider, "\e933");
    font-family: feather!important;
} */

.nav-list {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 0;
    list-style: none;
    background: transparent;
    border: 1px solid #eaedf1;
    border-radius: 5px;
    flex-direction: column;
}

.nav-list.nav-column .nav-list-item {
    padding: 0;
    margin-top: 5px;
}

.nav-list.nav-column .nav-list-item:hover {
    background-color: var(--bs-primary);
    color:white;
    /* opacity: .56;
    z-index: -1; */
    border-radius: 8px;
}

.nav-list-item {
    padding: 10px;
    min-width: 2rem;
    transition: .3s color;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-list.nav-column .nav-link {
    border-right: none!important;
    width: 100%;
    padding: 6px;
    border-radius: 5px;
}
.nav-list.nav-column .nav-link i {
    margin-right: 5px;
    /* transition: all ease .2s; */
}

/* .nav-list.nav-column .nav-link:hover {
    color: #8fbd56;
} */
/* .table-bordered > :not(caption) > * > *{
    border: 1px solid #eaedf1!important;
    border-width: 2px 2px;
    border-color: rgb(202, 202, 202);
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #eaedf1;
    border-bottom-width: 1px;
    border-top: 0;
    padding: 0.75rem;
} */
/*
.table>thead>tr>td, .table>thead>tr>th {
    font-weight: 500;
    -webkit-transition: all .3s ease;
} */
