:root {
	--dark-border: rgba(255, 255, 255, .15);
	--dark-body: #2c2f3e;
	--dark-text: #fffd;
  --vz-dropdown-link-hover-bg: #2f343a;
  --vz-dropdown-link-hover-color: #b9bfc4;
}


.dark-mode {
	color: var(--dark-text) !important;
	background-color: var(--dark-body) !important;
}

.dark-mode .border-bottom {
	border-bottom: 1px solid var(--dark-border) !important;
	color: var(--dark-text) !important;
}

.dark-mode .border-top {
  border-top: 1px solid var(--dark-border) !important;
}

.dark-mode .bordered {
  border: 1px solid var(--dark-border) !important;
}

.dark-mode .page-title-box {
	background-color: var(--dark-body) !important;
	border-bottom: 1px solid var(--dark-border) !important;
	box-shadow: 0 4px 16px #0000001a;
}

@media (min-width: 768px) {
  .dark-mode .header-item.topbar-user {
      background-color: #3e4254
  }

  .dark-mode .header-item.topbar-user .user-name-text {
	  color: var(--dark-text) !important;
  }
}

.dark-mode .offcanvas {
	background-color: var(--dark-body) !important;
}

.dark-mode .btn-toggle {
	color: var(--dark-text);
}

/* .dark-mode .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e") !important;

} */


.dark-mode .dark-text {
	color: var(--dark-text) !important;
}

.dark-mode .text-muted,
.dark-mode .form-text,
.dark-mode i {
    color: #ffffff80!important;
}

.dark-mode .card,
.dark-mode .list-group .list-group-item {
	background-color: transparent !important;
	border: 1px solid var(--dark-border)!important;
	box-shadow: 0 4px 16px #0000001a;
	color: var(--dark-text) !important;
}
.dark-mode .form-control {
	background-color: transparent !important;
	color: var(--dark-text);
}
.dark-mode input {
	border: 1px solid var(--dark-border)!important;
	transition: inherit;
}

.dark-mode button {
	color: var(--dark-text);
}


/*inputs*/
.dark-mode input,
.dark-mode textarea {
  background-color: transparent;
  color: var(--dark-text);
}

.dark-mode input[type="number"] {
  color: red!important;
}

.dark-mode select {
  background-color: transparent;
  color: var(--dark-text);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.dark-mode .form-control,
.dark-mode .form-select {
  border: 1px solid var(--dark-border)!important;
}
.dark-mode .form-control:focus,
.dark-mode .form-select:focus {
  color: var(--dark-text);
  background-color: var(--dark-body);
  border-color: var(--bs-primary);
  outline: 0;
}

.dark-mode .modal-content {
  background-color: var(--dark-body) !important;
  border: 1px solid var(--dark-border)!important;
  box-shadow: 0 4px 16px #0000001a;
}

.dark-mode .modal-header {
  border-bottom: 1px solid var(--dark-border)!important;
}
.dark-mode .modal-footer {
  border-top: 1px solid var(--dark-border)!important;
}



/******************************************************************* TABLAS *******************************************************************
***********************************************************************************************************************************************/
.dark-mode .table {
  color: var(--dark-text) !important;
}

.dark-mode .table {
  border-spacing: 0 ;
  border-collapse: collapse;
}
.dark-mode .table th,
.dark-mode .table td {
  border: 1px solid var(--dark-border);
}

.dark-mode .table-core {
  border-collapse: collapse !important;
  border-spacing: 0 !important;
}

.dark-mode .table-core td {
  background-color:transparent !important;
  border: 1px solid var(--dark-border) !important;
}
.dark-mode .table-core th {
  background-color: transparent !important;
  border: 1px solid var(--dark-border) !important;
  padding: 0.75rem 0.6rem !important;
}

/***********************************************************************************************************************************************
******************************************************************* DROPDOWN *******************************************************************/


.dark-mode .dropdown-menu {
  background-color: transparent;
  color: var(--dark-text);
  background-color: var(--dark-body) !important;
  border: 1px solid var(--dark-border)!important;
  box-shadow: 0 4px 16px #0000001a;
}
.dark-mode .dropdown-header,
.dark-mode .dropdown-item {
  color: var(--dark-text);
}


.dark-mode .dropdown-item:hover,
.dark-mode .dropdown-item:focus {
  color: var(--vz-dropdown-link-hover-color);
  background-color: var(--vz-dropdown-link-hover-bg);
}


/***********************************************************************************************************************************************
******************************************************************* CARD *******************************************************************/

.dark-mode .card-header {
	border-bottom: 1px solid var(--dark-border) ;
}


/* .dark-mode .table-core td:nth-child(1) {
  border-left: 2px solid var(--bs-primary) !important;
} */
