.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background: #ffffff;
  font-weight: 600;
  z-index: 99!important;
}

.space-row {
  padding: 12px;
}

.fs-13 {
  font-size: 13px;
}
.fs-12 {
  font-size: 12px;
}

.card {
  margin-bottom: 1.5rem;
  border: none;
  box-shadow: 0 4px 16px #a9b8c826;
}

.card-header {
  background-color: transparent;
  padding: 1.2rem 1.5rem!important;
}

.row {
  --bs-gutter-y: 0.75rem;
}



/* Diseño Tabla */
/* .table th {
  text-align: center;
  padding: 20px;
}
.table td {
  padding: 16px;
  box-shadow: -5px 0px 5px -5px #0000001a;
}
.table > tbody > tr:hover > * {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}


.table td:nth-child(1) {
  border-left: 1px blue;
} */
/*

.table-nowrap td, .table-nowrap th {
  white-space: nowrap;
} */


.table th {
  font-weight: 600;
}

.table>:not(caption)>*>* {
  padding: 0.75rem 0.6rem;
}


.progress-sm {
  height: 5px;
}
