.spacer {
  flex: 1;
}


.nav-link .icon {
  margin: 5px;
  padding: 12px;
  text-align: center;
  height: 2.5rem;
  font-size: 1.2rem;
  position: relative;
}

.nav-link {
  min-width: 2rem;
  transition: .3s color;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #495057;
  transition: all ease .3s;
}

.nav-link.icon span {
  width: 1.3rem;
  fill: #495584!important;
}

.fe-spin {
  animation: fa-spin 2s infinite linear;
}

.nav-link.icon:hover span, .nav-link.icon:focus span {
  color: var(--primary-bg-color)!important;
  fill: var(--primary-bg-color)!important;
}



/* Esta seccion es unicamente para el layout */
.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background: #ffffff;
  font-weight: 600;
  border-bottom: 1px solid #eaedf1;
  z-index: 99!important;
}

.container-fluid.main-container section:first-child {
  align-items: center!important;
}

#space-row {
  padding: 20px;
}

.counter-icon {
  margin-bottom: 1rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-size: 1.43rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50px;
}

.card {
  --bs-card-cap-bg: #fff !important;
  background-color: #fff !important;
  border: none;
  box-shadow: 0 4px 16px #0000001a;
}

.card-title {
  font-size: 1rem;
  font-weight: 500;
}
.card-header {
  display: flex;
}
a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.list-icon i {
  background-color:#e0ebff;
  padding: 8px 10px;
  border-radius: 50%;
  margin-right: 12px;
}

/* .media {
  display: flex;
  align-items: flex-start;
  zoom: 1;
  overflow: visible!important;
} */
.media {
  display: flex;
  align-items: flex-start;
}
.media, .media .media-body {
  overflow: visible!important;
}
.media-body, .media-left, .media-right {
  display: block;
  vertical-align: top;
}

.media-body {
  zoom: 1;
  overflow: hidden;
  width: auto;
  flex: 1;
}

.fs-11 {
  font-size: 11px!important;
}
.fs-12 {
  font-size: 12px!important;
}

.page-header {
  display: flex;
  align-items: center;
  margin: 0.75rem 0rem;
  -ms-flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  position: relative;
  min-height: 50px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.page-title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  margin-bottom: 0.2rem;
}

.fs-13 {
  font-size: 13px!important;
}

@media screen and (max-width: 600px) {
  #space-row {
    padding: 10px;
  }

  .media-body {
    font-size: 0.85rem;
  }
  .media-body h5 {
    font-size: 0.95rem;
  }
}




/* Diseño de tablas */
.table {
  border-spacing: 0 5px;
  border-collapse: separate;
}

.table td, .table thead th {
  /* border: none; */
  padding: 0.75rem;
}

.table thead th{
  border: none;
  /* text-align: center; */
}

.table td {
  background-color: #f7f8f9;
  border: 2px solid white;
}

.table tbody tr td:nth-child(1) {
  border-left: 6px solid var(--bs-primary);
}